*{
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: rgb(34, 34,34);
    padding: 20px;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    grid-template-areas: 
    "h h h h"
    "m m m m"
    "m m m m"
    "n n a a"
    "f f f f"
    ;
}
header{
    grid-area: h;
}
main{
    grid-area: m;
}
nav{
    grid-area: n;
}
aside{
    grid-area: a;
}
footer{
    grid-area: f;
}
.s{
    padding: 20px;
    background-color: rgb(84,84, 84);
    text-align: center;
    color: white;
}