body{
    background-color: rgb(46, 46, 46);
}
.Box{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 300px;
    width: 800px;
    border-radius: 50px;
    margin: auto;
    margin-top: 100px;
    padding: 50px
}
.logo{
    width: 50px;
}
.input{
    width: 250px;
    height: 45px;
    background-color: black;
    margin-bottom: 10px;
    display: block;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}
.lean,.email{
    text-decoration: none;
    color: rgb(127, 249, 255);
}
.button{
    margin-top: 10px;
    justify-self: auto;
    margin-right: 20px;
}
.left{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 300px;
}
.right{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Next{
    background-color: aqua;
    color: blue;
    padding: 5px;
    border-radius: 15px;
    width: 70px;
}
.create{
    background-color: black;
    color: aqua;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

