*{
    margin: 0px;
    padding: 0px;
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    color: #0077b5;
    background-color: rgb(250, 238, 224);
    position: sticky;
    top: 0;
}
.in{
    background-color: #0077b5;
    color: white;
    font-weight: 450;
    border-radius: 5px;
    padding: 2px;
    margin-left: 2px;
}
.container{
    margin: auto;
    width: 300px;
    box-shadow: 0 0 6px 5px whitesmoke;
    border-radius: 10px;
    padding: 20px;
}
.signin{
    font-family: Arial, Helvetica, sans-serif;
}
.google-logo, .apple-logo, .microsoft-logo{
    width: 20px;
}
.google, .apple, .passkey, .microsoft{
    align-self: center;
    width: 300px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    border-radius: 20px;
}
.or{
    display: inline-flex;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
}
hr{
    width: 120px;
}

#email, #password {
    width: 280px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#password{
    margin-bottom: 15px;
}
.forgot-password{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0077b5;
    font-weight: bold;
    font-size: 15px;

}
#checkbox{
    margin-top: 15px;
    width: 24px;
    margin-bottom: 20px;
}
.checkbox{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.sign-in{
    background-color: #0077b5;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.new{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 15px;
    margin-left: 40px;
}
.now{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #0077b5;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0px;
}