* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

:root{
    --primary-color: red;
    --secondary-color: blue;
    --header-font: 50px;
    --paragraph-font: 25px;
}



.box {
    height: 100px;
    width: 100px;
    background-color: var(--secondary-color);
    animation: bounce 2s infinite alternate ease-in-out;
} @keyframes bounce {
    from {transform: translateX(20px);}
    to{transform: translateX(-10x);}
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: red;
    transition-property: height, border-radius, background;
    transition-duration: 2s, 1s, 5s;
    transition-timing-function: linear, ease, ease-in;
    animation: fssa 5s infinite ease-in;
}

@keyframes fssa {
    0% {transform: translateX(0px); background-color: red;}
    25% {transform: translateX(100px); background-color: blue;}
    50% {transform: translate(100px, 100px); background-color: var(--primary-color);}
    75% {transform: translateY(100px); background-color: green;}
    100% {transform: translate(0px); background-color: red;}
}


.box2:hover {
    height: 50px;
    border-radius: 50px;
    background-color: green;
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: black;
    animation: pulse 2s 5 ease-in;

    animation-delay: 3s;
}

@keyframes pulse {
    0% {transform: scale(0.7);}
    50%{transform: scale(1);}
    100%{transform: scale(1.3);}
}



.words p {
    opacity: 0;
    position: absolute;
    top:0;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    animation: changewords 10s infinite;
}
.words p:nth-child(1) {
    animation-delay: 0s;
}
.words p:nth-child(2){
    animation-delay: 2s;
}
.words p:nth-child(3){
    animation-delay: 4s;
}
.words p:nth-child(4){
    animation-delay: 6s;
}
.words p:nth-child(5){
    animation-delay: 8s;
}


@keyframes changewords {
    0% {opacity: 0; }
    10% {opacity: 1; }
    25% {opacity: 0;}
    35% {opacity: 0; }
    100% {opacity: 0;}
}


.flip-card {
    width: 200px;
    height: 100px;
    perspective: 1000px;
}

.flip-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
    transform: rotateY(180deg);
}

.front, .back{
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}


.front {
    background-color: blue;
}

.back {
    background-color: yellow;
    transform: rotateY(180deg);
}


.caurosel {
    margin-top: 50px;
    width: 100vw;
    height: 300px;
    background-color: wheat;
}

.track {
    width: max-content;
    display: flex;
    gap: 20px;
    overflow: hidden;
    animation: scroll 10s linear infinite;

}

.items {
    height: 200px;
    width: 300px;
    background-color: blue;
}

@keyframes scroll {
    from {transform: translateX(0);}
    to {transform: translateX(-50%);}
}

img {
    filter: grayscale(5);
}